* {
    margin: 0;
    padding: 0;
  }
  body{
      overflow-x: hidden
  }
  @import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
  body {
    background-color: #07081d;
    background-image: url(./img/background.svg);
    width: 100%;
    padding-bottom: 50px;
  }
  .pa {
    padding-top: 100px;
  }
  strong {
    color: #3bb9ff !important;
  }
  .nav-link {
    color: #b0ecff !important;
    text-transform: capitalize;
  }
  
  .social_link a {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    outline: 1px solid #fbaf41;
    border: 4px solid transparent;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  
  .social_link a:hover {
    border: 4px solid red;
  }
  
  .pain_link {
    background-color: #fbaf41;
    padding: 10px;
    margin-left: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all linear 0.3s;
  }
  .pain_link:hover {
    background-color: white;
    color: black;
  }
  
  #banner {
    margin-top: 90px;
  }
  #banner .container .row {
    display: flex;
    justify-content: space-around;
  }
  .banner_img {
    position: relative;
    height: 450px;
  }
  .banner_img img {
    width: 96%;
  
    margin: 6px 1px 1px 5px;
  }
  .banner_border {
    background-image: url(./img/ice-border.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 105%;
    height: 110%;
    /* display: block; */
    position: absolute;
    top: -11px;
    left: -10px;
  }
  .banner_heading{
      width: 100%;
  }
  .banner_text {
    width: 100%;
    color: white;
    padding-top: 50px;
    font-size: 20px;
  }
  .number_bg {
    background-image: url(./img/stat.svg);
    height: 125px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
    padding-left: 40px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .number_bg p {
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    border-left: 4px solid #3bb9ff;
    color: #3bb9ff;
    letter-spacing: 2px;
  }
  .number_bg h5 {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    font-size: 23px;
  }
  
  .matemask_content img {
    width: 100%;
  }
  .pain_heading {
    color: #3bb9ff;
  }
  @media (min-width: 0) and (max-width:576px) { 
      .ar{
          display: none;
      }
   }
  .pain_heading h1 {
    font-family: "Rammetto One", cursive !important;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .matemask_content p {
    color: white;
    font-size: 18px;
  }
  
  .best_info{
      display: flex;
      justify-content:flex-start;
      position: relative;
  }
  
  
  
  
  .best_moment_content h6{
      color: #3bb9ff;
  }
  .best_moment_content h5{
      font-size: 20px;
      color: #3bb9ff;
      text-transform: uppercase;
      width: 100%;
      line-height: 30px;
  }
  
  .best_icon{
    position: absolute;
    top: 0px;
    right: -10px;
      color: #3bb9ff;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
  }
  .best_icons{
      
      color: #3bb9ff;
      position: absolute;
      top: -20px;
      right: -14px;
      font-size: 40px;
      
  }
  
  .best_content{
      display: flex;
      justify-content: space-around;
      position: relative;
  }
  .best_content::before{
      position: absolute;
      content: "";
      top: 45px;
      left: -25px;
      height: 90%;
      width: 1px;
      background-color: #3bb9ff;
  }
  
  .best_content{
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
  }
  .best_content p{
      color: white;
      font-size: 20px;
      margin-bottom: 30px;
  }
  .best_content p a{
      color: #fbaf41;
  }
  .best_content p a:hover{
      color: #f8d7a8;
  }
  .best_content img{
      width: 100%;
  }
  
  @media (min-width: 0) and (max-width:576px) { 
    .best_content::before{
      display: none;
  }
  
  .best_info{
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  
  .best_icons , .best_icon{
    display: none;
  
  }
  
   }
  
  .carousel-item img{
      height: 200px;
  }
  .carousel-control-next {
      right: 50%;
      top: 115%;
      border: 1px solid red;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
  .carousel-control-next::before{
      position: absolute;
      content: "";
      top: 50%;
      left: 250%;
      width: 400%;
      height: 1px;
      background-color: red;
  }
  .carousel-control-prev::before{
      position: absolute;
      content: "";
      top: 50%;
      left: -500%;
      width: 380%;
      height: 1px;
      background-color: red;
  }
  .carousel-control-next-icon ,.carousel-control-prev-icon {
      background-image: url(./img/next.png) !important;
      width: 70%;
      height: 70%;
      margin-top: 3px;
  }
  .carousel-control-prev-icon{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
  }
  .carousel-control-prev {
      left: 25%;
      top: 115%;
      border: 1px solid red;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
  .carousel-indicators {
      position: absolute;
      right: 0px;
      bottom: -75px;
      left: 40px;
      z-index: 2;
      display: flex;
      justify-content: center;
      padding: 0px;
      margin-right: 15%;
      margin-bottom: 1rem;
      margin-left: 15%;
      list-style: none;
      width: 150px;
  
  }
  .carousel-indicators .active[data-bs-target]{
      width: 6px;
      height:6px;
      background-color: #fbaf41;
  }
  .carousel-indicators [data-bs-target] {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 4px;
      height:4px;
      padding: 0;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      opacity: 1 !important;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
  }
  
  @media (min-width: 0) and (max-width:576px) { 
    .carousel-control-next {
      right: 45%;
      top: 115%;
      border: 1px solid red;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
   }
  @media (min-width: 768px) and (max-width: 992px) { 
    .carousel-control-next {
      right: 55%;
      top: 115%;
      border: 1px solid red;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
    .carousel-control-prev {
      left: 15% !important;
      top: 115%;
      border: 1px solid red;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
  }
   }
  
  
  
  #slider p{
    font-size: 20px;
    color: white;
  }
  #family .family_img{
     width: 100%;
  }
  .family_content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      vertical-align: baseline !important;
  }
  .family_content h4{
      color: #3bb9ff;
  }
  .family_content p{
      color: white;
      font-size: 20px;
      /* align-self: center !important; */
      line-height: 27px;
  }
  
  .family_content a i{
      padding: 5px 10px;
      margin: 5px;
      display: inline-block;
      outline: 1px solid #fbaf41;
      border: 4px solid transparent;
      transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
  }
  .family_content a i:hover{
      border: 4px solid #fbaf41;
  }
  
  footer {
      height: 350px;
      background: #0d1730;
      padding: 40px 0;
      color: #313e6b;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  @media (min-width: 0) and (max-width:576px) { 
       footer{
         padding: 20px 0 !important;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
       }
  
   }
  .asw .col-3{
      position: relative;
  }
  .asw .col-3::before{
      position: absolute;
      content: "";
      right: 20px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #313e6b;
  }
  .footer_logo{
      padding-bottom: 90px;
    
    
  }
  .footer_logo h6{
      font-size: 22px;
      color: #313e6b;
      transition-duration: .3s;
  }
  .footer_logo a:hover, .footer_logo h6:hover{
      color: #fbaf41;
  }
  .footer_logo a{
      color: #313e6b;
      text-decoration: none;
      transition-duration: .3s;
      display: block;
  
  }